{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "targets": {
          "browsers": ["last 2 versions", "> 1%", "safari >= 10"],
          "node": "current"
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ]
}
