{
  "extends": [
    "standard",
    "prettier",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors"
  ],
  "plugins": ["prettier", "react", "jsx-a11y", "import", "react-hooks"],
  "parser": "babel-eslint",
  "rules": {
    "no-irregular-whitespace": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  }
}
